nav {
	background-color: #f4dc41;
}

.navbar-brand {
	color: #ffffff;
}

.navbar-brand:hover {
	color: #666563;
}

.navbar-nav > li {
	display: block;
}

.nav-item > a {
	color: #ffffff;
}

.navbar-nav > li > a:hover {
	background-color: transparent!important;
	color: #666563;
}

.navbar-nav > li > a:focus {
	background-color: transparent!important;
	color: #666563;
}

.navbar-nav > .active {
	background-color: transparent!important;
	color: #666563;
}

.navbar-dark {
	color: #ffffff;
	opacity: 100%;
}

.navbar-toggler {
	border-color: #ffffff;
	border-width: 2px;
	color: #ffffff;
}

.navbar-toggler-icon {
	background-color: #ffffff;
	color: #ffffff;
}

.custom-toggler .navbar-toggler {
	border-color: #ffffff;
	opacity: 100%;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.icon-bar {
	background-color: #ffffff;
}

.jumbotron {
	margin: 0!important;
	padding: 20px;
	background-color: #f4dc41!important;
	min-height: 100vh;
}

.container {
	padding: 50px;
}

.text-box {
	background-color: #47484f;
	padding: 30px;
	width: 80vw;
	min-height: 80vh;
	border-radius: 15px;
	color: #ffffff;
	font-family: 'Source Code Pro', monospace;
	font-weight: 200;
	font-size: 1em;
}

.indent {
	padding-left: 20px;
}

.orange {
	color: #f9ae2c;
}

.purple {
	color: #a260e5;
}

.pink {
	color: #e560ab;
}

.green {
	color: #b4e560;
}

.col-md-6 {
	padding: 10px;
}

.col-sm-12 {
	padding: 10px;
}

.project {
	padding: 20px;
}

.box {
	background-color: #47484f;
	color: #ffffff;
	border-radius: 10px;
}

.icon {
	display: inline-block;
}

.icon img {
	height: 50vh;
}

.icon img.hover {
    display: none;
}
.icon img.default {
    display: inherit;
}
.icon:hover img.hover {
    display: inherit;
}
.icon:hover img.default {
    display: none;
}

#header-text {
	padding-top: 20px;
	display: block;
}

#pdf {
	width: 80vw;
	height: 75vh;
}

#about {
	min-height: 100vh;
	background-color: #a5a4a2;
}

/**#bear img {
	height: 20vh;
}**/

.floatl {
	float: left;
}

.slideAnim {
	display: inline-block;
	opacity: 0;
	filter: alpha(opacity=0);
	position: relative;
	-webkit-transition: all .55s ease-in;
	-moz-transition: all .55s ease-in;
	-ms-transition: all .55s ease-in;
	-o-transition: all .55s ease-in;
	transition: all .55s ease-in;
}

.slideAnim[data-position="left"] { left: -20%; }

.slideAnim[data-position="left"].viewed {
	left: 0%;
	opacity: 1;
	filter: alpha(opacity=100);
}

#projects {
	min-height: 100vh;
	background-color: #f4dc41;
}

.project-title {
	font-family: 'Source Code Pro', monospace;
}

.project-date {
	color: #f9ae2c;
	padding-bottom: 20px;
}

.project-img {
	margin-bottom: 20px;
}

.project-btn {
	margin: 2px;
}

.github-img {
	height: 1.2em;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

.github-btn {
	width: 38px;
	height: 38px;
	position: relative;
}

.modal-title {
	color: #47484f;
	font-family: 'Source Code Pro', monospace;
}

.modal-body {
	color: #47484f;
}

#resume {
	min-height: 100vh;
	background-color: #a5a4a2;
}

#contact {
	min-height: 100vh;
	background-color: #f4dc41;
}
